/ %p#error
/   = flash[:error]

= link_to 'Track a new game', new_game_path, :class => 'track_new_game'

%h1 My tracked games:

- @games.each do |game|
  = link_to(game) do
    %p= game.name
    %p= game.format_time(game.created_at)
    %p= game.players.pluck(:name).join(', ')
  %br